{% extends "base.html" %}
{% block head %}
<style>
  /* Topic listing styling */
  .topics {
      display: grid;
      margin-top: 20px;
      margin-bottom: 20px;
      grid-template-columns: 1fr 100px 160px;
      column-gap: 10px;
      row-gap: 10px;
  }
  .topic-description {
      grid-column: 1 / span 1;
  }
  .topic-replies {
      grid-column: 2 / span 1;
      text-align: center;
  }
  .topic-latest-posts {
      grid-column: 3 / span 1;
  }
  .topic-latest-posts > .post-title {
      display: block;
      margin-bottom: 2px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }

  /* Topic creation menu styling */
  .topic-creation-menu {
      cursor: pointer;
  }
  .form-container {
      margin: 20px;
      display: grid;
      grid-template-columns: auto 1fr;
      column-gap: 20px;
      row-gap: 5px;
  }
  .form-label {
      grid-column: 1 / span 1;
  }
  .form-input {
      grid-column: 2 / span 1;
  }
  .form-submit {
      grid-column: 2 / span 1;
      width: auto;
      margin: auto;
      margin-left: 0px;
  }
</style>
{% endblock %}
{% block content %}
<h3>{{ board_name }}</h3>

<details class="topic-creation-menu">
  <summary>{{ _("Create a new topic") }}</summary>
  <form class="form-container" action="/board/{{ board_id }}" method="POST">
    <!-- TODO(security): CSRF protection -->
    <label class="form-label" for="input-title">{{ _("Title") }}</label>
    <input class="form-input" id="input-title" type="text" name="title" minlength=1 maxlength=50 required>
    <br class="for-no-css">
    <label class="form-label" for="input-content">{{ _("Message") }}</label>
    <textarea class="form-input" id="input-content" name="content" required></textarea>
    <br class="for-no-css">
    <input type="hidden" name="redirect_url" value="{{ current_path }}">
    <button class="form-submit" type="submit">{{ _("Create") }}</button>
  </form>
</details>

<div class="topics">
  <strong class="topic-description">{{ _("Topic") }}</strong>
  <strong class="topic-replies">{{ _("Replies") }}</strong>
  <strong class="topic-latest-posts">{{ _("Latest post") }}</strong>
  {% for id, title, author, replies, last_post_id, last_title, last_time in topics %}
  <article class="topic-description">
    <a href="/board/{{ board_id }}/topic/{{ id }}"><strong>{{ title }}</strong></a>
    <aside>{{ _("Conversation started by %(author)s", author=author) }}</aside>
  </article>
  <aside class="topic-replies">{{ replies }}</aside>
  <aside class="topic-latest-posts">
    {% if last_topic_id is not none %}
    <a class="post-title" href="/board/{{ board_id }}/topic/{{ id }}#{{ last_post_id }}">
      {{ last_title }}
    </a>
    <time datetime="{{ last_time }}">{{ last_time.strftime("%Y-%m-%d %H:%M:%S") }}</time>
    {% endif %}
  </aside>
  {% endfor %}
</div>
{% endblock %}
