{% extends "base.html" %}
{% block head %}
<style>
  .boards {
      display: grid;
      margin-top: 20px;
      margin-bottom: 20px;
      grid-template-columns: 1fr 100px 100px;
      column-gap: 10px;
      row-gap: 10px;
  }
  .board-description {
      grid-column: 1 / span 1;
  }
  .board-topics {
      grid-column: 2 / span 1;
      text-align: center;
  }
  .board-posts {
      grid-column: 3 / span 1;
      text-align: center;
  }
</style>
{% endblock %}
{% block content %}
<div class="boards">
  <strong class="board-description">{{ _("Board") }}</strong>
  <strong class="board-topics">{{ _("Topics") }}</strong>
  <strong class="board-posts">{{ _("Posts") }}</strong>
  {% for id, title, desc, topics, posts in boards %}
  <article class="board-description">
    <a href="/board/{{ id }}"><strong>{{ title }}</strong></a>
    <aside>{{ desc }}</aside>
  </article>
  <aside class="board-topics">{{ topics }}</aside>
  <aside class="board-posts">{{ posts }}</aside>
  {% endfor %}
</div>
{% endblock %}
