{% extends "base.html" %}

{% block head %}
<style>
  .form-title { text-align: center; }
  .form-input, .form-submit {
      display: block;
      margin: auto;
      margin-top: 10px;
      margin-bottom: 10px;
  }

  .forms-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
  }
  .forms-container > * {
      margin-left: 20px;
      margin-right: 20px;
  }
  .forms-container > form {
      padding: 30px;
      padding-top: 10px;
  }
  @media (max-width: 800px) {
      .forms-container > .separator {
          display: none;
      }
  }
</style>
{% endblock %}

{% block content %}
<div class="forms-container">
  <form action="/login" method="POST">
    <h3 class="form-title">{{ _("Log in") }}</h3>
    <!-- TODO(security): CSRF protection -->

    {% if error == "invalid_credentials" %}
    <p class="error" role="alert">{{ _("Wrong username or password.") }}</p>
    {% endif %}

    <label>
      {{ _("Username") }}
      <input class="form-input" type="text" name="username">
    </label><br class="for-no-css">
    <label>
      {{ _("Password") }}
      <input class="form-input" type="password" name="password">
    </label><br class="for-no-css">
    <input type="hidden" name="redirect_url" value="{{ current_path }}">
    <button class="form-submit" type="submit">{{ _("Log in") }}</button>
  </form>
  <p class="separator">{{ _("or") }}</p>
  <form action="/register" method="POST">
    <h3 class="form-title">{{ _("Register") }}</h3>
    <!-- TODO(security): CSRF protection -->

    {% if error == "username_taken" %}
    <p class="error" role="alert">{{ _("The username <b>%(username)s</b> is taken.", username=username) }}</p>
    {% elif error == "passwords_dont_match" %}
    <p class="error" role="alert">{{ _("The two passwords don't match.") }}</p>
    {% endif %}

    <label>
      {{ _("Username") }}
      <input class="form-input" type="text" name="username">
    </label><br class="for-no-css">
    <label>
      {{ _("Password") }}
      <input class="form-input" type="password" name="password">
    </label><br class="for-no-css">
    <label>
      {{ _("Confirm password") }}
      <input class="form-input" type="password" name="confirm-password">
    </label><br class="for-no-css">
    <input type="hidden" name="redirect_url" value="{{ current_path }}">
    <button class="form-submit" type="submit">{{ _("Register") }}</button>
  </form>
</div>
{% endblock %}
