{% extends "base.html" %}
{% block content %}
<h3>
  Results for "{{ query_string }}":
</h3>

{% for id, author, title, content, creation_time, edit_time in posts %}
<article id="{{ id }}" class="post-container">
  <h4>{{ author }}: {{ title }}</h4>
  {% if edit_time is not none %}
  <aside>Edited at <time>{{ edit_time }}</time></aside>
  {% endif %}
  <div class="post-content">
    {{ content }}
  </div>
  <a href="/board/{{ board_id }}/topic/{{ topic_id }}#{{ id }}" title="Link to post">
    <time datetime="{{ creation_time }}">{{ creation_time.strftime("%Y-%m-%d %H:%M:%S") }}</time>
  </a>
</article>
{% endfor %}
{% endblock %}
