{% extends "base.html" %}
{% block head %}
<style>
  /* Post styling */
  h4 {
      margin: 0px;
  }
  .post-container {
      padding: 10px;
      margin-top: 20px;
      margin-bottom: 20px;
  }
  .post-content h1, .post-content h2, .post-content h3,
  .post-content h4, .post-content h5, .post-content h6 {
      font-size: 1rem;
      font-weight: bold;
      margin: 0px;
      margin-top: 1em;
  }
  .post-content blockquote {
      padding: 0px;
      margin: 0px;
  }
  .post-content blockquote > *::before {
      content: "> ";
  }
  .delete-form {
      margin-top: 4px;
  }

  /* Reply form styling */
  .post-container:target {
      outline: 3px dotted #88F;
  }
  @media (prefers-color-scheme: dark) {
      .post-container:target {
          outline: 3px dotted #55A;
      }
  }
  .topic-creation-menu {
      cursor: pointer;
  }
  .form-container {
      margin: 10px;
      display: grid;
      width: 100%;
      grid-template-columns: auto 1fr;
      column-gap: 20px;
      row-gap: 5px;
  }
  .form-label {
      grid-column: 1 / span 1;
  }
  .form-input {
      grid-column: 2 / span 1;
  }
  .form-submit {
      grid-column: 2 / span 1;
      width: auto;
      margin: auto;
      margin-left: 0px;
  }
  .form-header {
      grid-column: 1 / span 2;
  }
</style>
{% endblock %}
{% block content %}
<h3>
  <a href="/board/{{ board_id }}">{{ board_name }}</a>:
  <a href="/board/{{ board_id }}/topic/{{ topic_id }}">{{ topic_name }}</a>
</h3>
{% for id, author, title, content, creation_time, edit_time, owned in posts %}
<article id="{{ id }}" class="post-container">
  <h4>{{ author }}: {{ title }}</h4>
  {% if edit_time is not none %}
  <aside>Edited at <time>{{ edit_time }}</time></aside>
  {% endif %}
  <div class="post-content">
    {{ content }}
  </div>
  <a href="/board/{{ board_id }}/topic/{{ topic_id }}#{{ id }}" title="Link to post">
    <time datetime="{{ creation_time }}">{{ creation_time.strftime("%Y-%m-%d %H:%M:%S") }}</time>
  </a>
  {% if owned %}
  <details>
    <summary>{{ _("Delete") }}</summary>
    <form class="delete-form" action="/board/{{ board_id }}/topic/{{ topic_id }}/delete/{{ id }}" method="POST">
      <input id="delete-confirm" type="checkbox" name="confirm_deletion" value="">
      <label for="delete-confirm">{{ _("Yes, I really want to delete this post.") }}</label>
      <br>
      <button type="submit">{{ _("Delete") }}</button>
    </form>
  </details>
  {% endif %}
</article>
{% endfor %}

<form class="form-container" action="/board/{{ board_id }}/topic/{{ topic_id }}" method="POST">
  <h4 class="form-header">{{ _("Reply to this topic") }}</h4>
  <!-- TODO(security): CSRF protection -->
  <label class="form-label" for="input-title">{{ _("Title") }}</label>
  <input class="form-input" id="input-title" type="text" name="title" value="Re: {{ topic_name }}" minlength=1 maxlength=54 required>
  <br class="for-no-css">
  <label class="form-label" for="input-content">{{ _("Message") }}</label>
  <textarea class="form-input" id="input-content" name="content" required></textarea>
  <br class="for-no-css">
  <input type="hidden" name="redirect_url" value="{{ current_path }}">
  <button class="form-submit" type="submit">{{ _("Reply") }}</button>
</form>
{% endblock %}
